<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div>
      <span><%= link_to 'Home', home_path %> | </span>
      <span><%= link_to 'About', about_path %> | </span>
      <span><%= link_to 'Contact', contact_path %> | </span>
      <span><%= link_to 'New Product', new_product_path %> | </span>
      <span><%= link_to('All Products', products_path) %></span>
      <% if user_signed_in? %>
        |
        <span>Hello, <%= current_user.full_name %>!</span>
        |
        <%= link_to 'Sign Out', session_path, method: :delete %>

        <% else %>
        |
        <%= link_to('Sign In', new_session_path) %>
        |
        <%= link_to('Sign Up', new_user_path) %>
        <% end %>
    </div>

    <div>
      <% if flash[:notice] %>
        <div><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div><%= flash[:alert] %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
